@font-face {
  font-family: 'Calibri';
  font-weight: normal;
  font-style: normal;
  src: url('assets/fonts/Calibri/Calibri.woff2') format('woff2'), url('assets/fonts/Calibri/Calibri.woff') format('woff');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Material/Material-Icons.woff2') format('woff2');
}
