<div class="h-100 position-relative container p-2">
  <div class="d-flex justify-content-between align-items-center">
    <div class="h3 pt-4 pb-3">District Wise Details:</div>
    <button id="region" mat-raised-button color="primary" (click)="onBackButtonCLick()">Go Back</button>
  </div>
  <!-- DISTRICT TABLE START -->
  <div class="pb-3">
    <table class="w-100 position-relative overflow-auto border rounded mat-shadow" aria-describedby="District List" mat-table [dataSource]="_stateDistrictData">

      <ng-container matColumnDef="name">
        <th scope="" mat-header-cell *matHeaderCellDef> Districts </th>
        <td mat-cell [title]="element['name']" *matCellDef="let element"> {{element['name']}} </td>
      </ng-container>

      <ng-container matColumnDef="confirmed">
        <th scope="" mat-header-cell *matHeaderCellDef> Confirmed </th>
        <td mat-cell [title]="element['confirmed'] != null? element['confirmed'] : 'Not available'" *matCellDef="let element"> {{element['confirmed'] != null? element['confirmed'] : 'Not available'}} </td>
      </ng-container>

      <ng-container matColumnDef="recovered">
        <th scope="" mat-header-cell *matHeaderCellDef> Recovered </th>
        <td mat-cell [title]="element['recovered'] != null ? element['recovered'] : 'Not available'" *matCellDef="let element"> {{element['recovered'] != null ? element['recovered'] : 'Not available'}} </td>
      </ng-container>

      <ng-container matColumnDef="deaths">
        <th scope="" mat-header-cell *matHeaderCellDef> Deaths </th>
        <td mat-cell [title]="element['deaths'] != null ? element['deaths'] : 'Not available'" *matCellDef="let element"> {{element['deaths'] != null ? element['deaths'] : 'Not available'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="_displayedDistrictColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: _displayedDistrictColumns;"></tr>
    </table>
  </div>
  <!-- DISTRICT TABLE END -->
</div>
